<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arvato.oms.dao.RelationogModelMapper" >
  <resultMap id="BaseResultMap" type="com.arvato.oms.model.RelationogModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="oId" property="oid" jdbcType="VARCHAR" />
    <result column="goodsNo" property="goodsno" jdbcType="VARCHAR" />
    <result column="goodNum" property="goodnum" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="divideorderfee" property="divideorderfee" jdbcType="DECIMAL" />
    <result column="totalfee" property="totalfee" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, oId, goodsNo, goodNum,divideorderfee,totalfee
  </sql>

  <!--计算锁定库存-->
  <select id="selectGoodsRnum" parameterType="java.lang.String" resultType="java.lang.Integer">
    select
    sum(goodNum)
    from relationog
    where goodsNo=#{goodsNo,jdbcType=VARCHAR} AND status=1
  </select>
  <select id="selectAllByOid" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from relationog
    where oId = #{oId,jdbcType=VARCHAR}
  </select>

  <select id="selectByOid" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from relationog
    where oId = #{2,jdbcType=VARCHAR} limit #{0},#{1}
  </select>

  <select id="selectCount" parameterType="java.lang.String" resultType="java.lang.Integer"  >
    select count(1)
    from relationog
    where oId = #{oId,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from relationog
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from relationog
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.arvato.oms.model.RelationogModel" >
    insert into relationog (id, oId, goodsNo, 
      goodNum)
    values (#{id,jdbcType=INTEGER}, #{oid,jdbcType=VARCHAR}, #{goodsno,jdbcType=VARCHAR}, 
      #{goodnum,jdbcType=INTEGER})
  </insert>

  <insert id="insertSelective" parameterType="com.arvato.oms.model.RelationogModel" >
    insert into relationog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="oid != null" >
        oId,
      </if>
      <if test="goodsno != null" >
        goodsNo,
      </if>
      <if test="goodnum != null" >
        goodNum,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="divideorderfee != null" >
        divideorderfee,
      </if>
      <if test=" totalfee  != null" >
        totalfee
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="goodsno != null" >
        #{goodsno,jdbcType=VARCHAR},
      </if>
      <if test="goodnum != null" >
        #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="divideorderfee != null" >
        #{divideorderfee,jdbcType=TINYINT},
      </if>
      <if test=" totalfee  != null" >
        #{totalfee,jdbcType=TINYINT}
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.arvato.oms.model.RelationogModel" >
    update relationog
    <set >
      <if test="oid != null" >
        oId = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="goodsno != null" >
        goodsNo = #{goodsno,jdbcType=VARCHAR},
      </if>
      <if test="goodnum != null" >
        goodNum = #{goodnum,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="divideorderfee != null" >
        divideorderfee = #{divideorderfee,jdbcType=TINYINT},
      </if>
      <if test=" totalfee  != null" >
        totalfee = #{totalfee,jdbcType=TINYINT}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--更新锁定库存-->
  <update id="updateGoodsRnum" parameterType="com.arvato.oms.model.RelationogModel" >
    update relationog
    set status = # {1,jdbcType=TINYINT}
    where id = #{0,jdbcType=INTEGER}
  </update>
</mapper>