<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.arvato.oms.dao.ReturnedModelMapper" >
  <resultMap id="BaseResultMap" type="com.arvato.oms.model.ReturnedModel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="returnedId" property="returnedid" jdbcType="VARCHAR" />
    <result column="returnedOrChange" property="returnedorchange" jdbcType="VARCHAR" />
    <result column="returnedStatus" property="returnedstatus" jdbcType="VARCHAR" />
    <result column="oId" property="oid" jdbcType="VARCHAR" />
    <result column="channelOid" property="channeloid" jdbcType="VARCHAR" />
    <result column="returnedMoney" property="returnedmoney" jdbcType="DECIMAL" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="modifyTime" property="modifytime" jdbcType="TIMESTAMP" />
    <result column="modifyMan" property="modifyman" jdbcType="VARCHAR" />
    <result column="buyerAlipayNo" property="buyeralipayno" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Base_Column_List" >
    id, returnedId, returnedOrChange, returnedStatus, oId, channelOid, returnedMoney, 
    createTime, modifyTime, modifyMan,buyerAlipayNo
  </sql>

<!--通过returned选出所有信息-->
  <select id="selectByReturnedId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List" />
    from returnedorder
    where returnedId = #{returnedid,jdbcType=VARCHAR}
  </select>


  <update id="updateStatusToDisable">
    update returnedorder
    set returnedStatus = #{returnedstatus}
    where id in
    <foreach item="id" collection="ids" open="(" separator="," close=")">
      #{id}
    </foreach>
  </update>

  <select id="countReturnedOrders" resultType="int">
    SELECT COUNT(1) FROM returnedorder
  </select>

  <select id="selectAllReturnedByPage" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    limit #{startPage},#{num}
  </select>

  <select id="selectReturnedById" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    WHERE returnedId LIKE '%${returnedId}%'
    limit #{startPage},#{num}
  </select>


  <select id="countReturnedbyId" resultType="int">
    SELECT count(1) FROM returnedorder
    WHERE returnedId LIKE '%${returnedId}%'
  </select>

  <select id="selectReturnedByOId" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    WHERE oId LIKE '%${oId}%'
    limit #{startPage},#{num}
  </select>


  <select id="countReturnedbyOId" resultType="int">
    SELECT count(1) FROM returnedorder
    WHERE oId LIKE '%${oId}%'
  </select>

  <select id="selectReturnedByStatus" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    WHERE returnedStatus LIKE '%${returnedStatus}%'
    limit #{startPage},#{num}
  </select>


  <select id="countReturnedbyStatus" resultType="int">
    SELECT count(1) FROM returnedorder
    WHERE returnedStatus LIKE '%${returnedStatus}%'
  </select>

  <select id="selectReturnedByChannelOid" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    WHERE channelOid LIKE '%${channelOid}%'
    limit #{startPage},#{num}
  </select>


  <select id="countReturnedbyChannelOid" resultType="int">
    SELECT count(1) FROM returnedorder
    WHERE channelOid LIKE '%${channelOid}%'
  </select>

  <select id="selectOneReturnedById" resultMap="BaseResultMap">
    SELECT * FROM returnedorder
    WHERE returnedId = '${returnedId}'
  </select>


  <update id="updateReturnedStatus">
    update returnedorder
    set returnedStatus = #{returnedstatus}
    where returnedId = ${returnedId}
  </update>

  <!--根据订单号查询退换货单是否存在-->
  <select id="selectByOid" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from returnedorder
    where oId = #{oId,jdbcType=INTEGER}
  </select>


  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from returnedorder
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from returnedorder
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.arvato.oms.model.ReturnedModel" >
    insert into returnedorder (id, returnedId, returnedOrChange, 
      returnedStatus, oId, channelOid, 
      returnedMoney, createTime, modifyTime, 
      modifyMan，buyerAlipayNo)
    values (#{id,jdbcType=INTEGER}, #{returnedid,jdbcType=VARCHAR}, #{returnedorchange,jdbcType=VARCHAR}, 
      #{returnedstatus,jdbcType=VARCHAR}, #{oid,jdbcType=VARCHAR}, #{channeloid,jdbcType=VARCHAR}, 
      #{returnedmoney,jdbcType=DECIMAL}, #{createtime,jdbcType=TIMESTAMP}, #{modifytime,jdbcType=TIMESTAMP}, 
      #{modifyman,jdbcType=VARCHAR},#{buyeralipayno,jdbcType=VARCHAR})
  </insert>
  <!--插入记录-->
  <insert id="insertSelective" parameterType="com.arvato.oms.model.ReturnedModel" >
    insert into returnedorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="returnedid != null" >
        returnedId,
      </if>
      <if test="returnedorchange != null" >
        returnedOrChange,
      </if>
      <if test="returnedstatus != null" >
        returnedStatus,
      </if>
      <if test="oid != null" >
        oId,
      </if>
      <if test="channeloid != null" >
        channelOid,
      </if>
      <if test="returnedmoney != null" >
        returnedMoney,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="modifytime != null" >
        modifyTime,
      </if>
      <if test="modifyman != null" >
        modifyMan,
      </if>
      <if test="buyeralipayno != null" >
        buyerAlipayNo,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="returnedid != null" >
        #{returnedid,jdbcType=VARCHAR},
      </if>
      <if test="returnedorchange != null" >
        #{returnedorchange,jdbcType=VARCHAR},
      </if>
      <if test="returnedstatus != null" >
        #{returnedstatus,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        #{oid,jdbcType=VARCHAR},
      </if>
      <if test="channeloid != null" >
        #{channeloid,jdbcType=VARCHAR},
      </if>
      <if test="returnedmoney != null" >
        #{returnedmoney,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyman != null" >
        #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="buyeralipayno != null" >
         #{buyeralipayno,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.arvato.oms.model.ReturnedModel" >
    update returnedorder
    <set >
      <if test="returnedid != null" >
        returnedId = #{returnedid,jdbcType=VARCHAR},
      </if>
      <if test="returnedorchange != null" >
        returnedOrChange = #{returnedorchange,jdbcType=VARCHAR},
      </if>
      <if test="returnedstatus != null" >
        returnedStatus = #{returnedstatus,jdbcType=VARCHAR},
      </if>
      <if test="oid != null" >
        oId = #{oid,jdbcType=VARCHAR},
      </if>
      <if test="channeloid != null" >
        channelOid = #{channeloid,jdbcType=VARCHAR},
      </if>
      <if test="returnedmoney != null" >
        returnedMoney = #{returnedmoney,jdbcType=DECIMAL},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifytime != null" >
        modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyman != null" >
        modifyMan = #{modifyman,jdbcType=VARCHAR},
      </if>
      <if test="buyeralipayno != null" >
        buyerAlipayNo= #{buyeralipayno,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.arvato.oms.model.ReturnedModel" >
    update returnedorder
    set returnedId = #{returnedid,jdbcType=VARCHAR},
      returnedOrChange = #{returnedorchange,jdbcType=VARCHAR},
      returnedStatus = #{returnedstatus,jdbcType=VARCHAR},
      oId = #{oid,jdbcType=VARCHAR},
      channelOid = #{channeloid,jdbcType=VARCHAR},
      returnedMoney = #{returnedmoney,jdbcType=DECIMAL},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      modifyTime = #{modifytime,jdbcType=TIMESTAMP},
      modifyMan = #{modifyman,jdbcType=VARCHAR},
      buyerAlipayNo= #{buyeralipayno,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>