@charset "utf-8";
/* CSS Document */
/*全局*/
body{background:#efefef;margin:0;font-family:"幼圆",sans-serif;height:100%}
ul,li{list-style:none;margin:0;padding:0}
p{margin:0;padding:0}
a,a:hover{text-decoration:underline;cursor:pointer;text-decoration:none}
a,button,input{outline: none;font-family:"幼圆",sans-serif;font-size:15px}
.clearLeft{clear:left}
.clearFix{clear:both;zoom:1;overflow:visible}
.w50{width:50px}
.w100{width:100px}
.w106{width:106px}
.w150{width:150px}
.w200{width:200px}
.w350{width:350px}
.w1200{1200px}
.w1500{width:1500px}
.w1550{width:1550px}
.w1950{width:1950px}
.w2250{width:2250px}
.w3600{width:3600px}
.h263{height:263px}
.h567{height:567px}
.mt10{margin-top:10px}
.mt14{margin-top:14px}
.mt20{margin-top:20px}
.mt50{margin-top:50px}
.fl{float:left}
.fr{float:right}
.wrap{width:1340px;margin:0 auto;height:100%}
/*header*/
.header{width:1340px;height:50px;background:#0CF}
.menu{width:950px;height:50px;}
.menuTit{font-size:50px;font-weight:bold;background:#0CF;width:100px;height:50px;text-align:center;line-height:50px;float:left}
.menu ul li{float:left;width:111px;height:50px;line-height:50px;text-align:center;font-size:20px;font-weight:bold;cursor:pointer}
.menu ul li.on{background:#FFF}
.logOut{font-size:15px;height:50px;line-height:50px}
/*content*/
.order{width:1340px;margin-top:10px}
.order.hide{display:none}
.orderList{width:200px;height:100%;min-height:676px;background:#FFF}
.orderListCent{width:200px}
.orderListCent li{width:170px;height:20px;line-height:20px;border-bottom:1px solid #0CF;background:#FFF;padding-left:30px}
.orderListCent li a{font-size:15px}
.orderListCent li.on{background:#efefef}
.orderListCent li.listTit{height:25px;width:190px;background:#0CF;padding-top:10px;padding-left:10px}
.listTit p.listContTit{font-size:18px;font-weight:bold}
.orderMain{width:1128px;height:100%;min-height:676px;margin-left:10px;border:1px solid #d7d7d7;background:#FFF}
.orderManage{width:1128px;background:#FFF;position:relative}
.orderTag{width:100%;background:#0CF}
.orderTit{height:49px;line-height:49px;border-bottom:1px solid #efefef;font-size:20px;font-weight:bold;width:100%}
.orderMainCont.revise{width:1128px}
table{margin:0;padding:0;width:100%;font-size:15px;table-layout:fixed}
.table.revise{overflow-x:auto;min-height:314px}
.tableTit th,.table.revise .tableTit th{background:#dcdcdc;height:25px;border:1px solid #CCC}
.table td,.tableDetails td,.table.revise td{border:1px solid #CCC;height:25px;word-wrap:break-word;text-align:center}
table.orderTable th{background:#dcdcdc;height:25px;margin:0;border:1px solid #CCC}
table.orderTable td{border:1px solid #CCCl;height:25px}
.orderDetails{width:1128px;background:#FFF;}
.orderDetails.Item{margin-top:80px}
.page a{display:inline-block;margin-right:5px;float:right}
.relatedOrder{height:100%;min-height:676px}
.relatedOrder.hide{display:none}
.submitBtn{margin-left:10px;margin-top:5px}
/*popup*/
.customShow>div,.productShow,.storeShow>div,.leadingInShow{position:fixed;margin:auto;left:0;right:0;top:0;bottom:0;width:640px;height:248px;background-color:#0CF;border:1px solid #f1f1f1;display:none}
.productShow.revise{height:295px}
.iconClose{width:16px;height:16px;background:url(../images/ui-icons_ffffff_256x240.png) no-repeat;background-position:-96px -128px}
.popupTopTit{font-size:20px;margin-left:5px}
.popupCont{width:628px;height:216px;background:#FFF;margin:5px}
.popupCont.revise{height:263px}
.popupCont ul li{width:628px;height:54px;line-height:54px;text-align:center}
.popupCont ul li label.listName{display:inline-block;width:100px;text-align:right}
.customSearch,.productSearch,.storeSearch,.orderSearch{width:100%;height:40px}
.customSearch ul li,.productSearch ul li,.storeSearch ul li,.orderSearch ul li{float:left;width:100px;height:30px;margin-left:10px}
.customSearch ul li .btn,.submitBtn,.productSearch ul li .btn,.storeSearch ul li .btn,.orderSearch ul li .btn,.leadingIn
{   width:100px;height:30px;margin-top:5px;
    border-style:none;cursor:pointer;    
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d1d1d1) );
    background:-moz-linear-gradient( center top, #ffffff 5%, #d1d1d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d1d1d1');
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    font-family:"幼圆";
    font-size:16px;
    font-weight:bold;
    text-shadow:1px 1px 0px #ffffff;
}
.customSearch ul li .btn:active,.submitBtn:active,.productSearch ul li .btn:active,.storeSearch ul li .btn:active,.orderSearch ul li .btn:active,.leadingIn:active
{   
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d1d1d1), color-stop(1, #ffffff) );
    background:-moz-linear-gradient( center top, #d1d1d1 5%, #ffffff 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1d1d1', endColorstr='#ffffff');
    background-color:#d1d1d1;
}
.textArea{width:200px;height:24px;margin-top:5px;margin-left:10px}
.selectArea{width:100px;height:30px;margin-top:5px;}
.orderSearch.beta ul li .btn.beta{width:50px}
.orderSearch.beta ul li{float:left;width:50px;height:30px;margin-left:10px}
.inputList{background:#f4f6f7;height:25px}
.save{width:50px;height:30px;font-size:15px;border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;outline:none}
.leadingInShow .popupCont ul{height:216px}
.leadingInShow .popupCont ul li{height:216px;line-height:216px}
.loading{display:none;position:fixed;top:0;left:0; width:100%;height:100%; z-index:99999}
.loading .mask{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.8}
.loading .loading-icon{position:absolute;top:50%;left:50%;margin-left:-40px;margin-top:-40px}
.goodNum{border:1px solid;text-align: center}
.goodNum.edit{border: none;text-align: center}